/*----------------------------------------------------------------- nav start*/

.navbar {
    font-family: 'Montserrat', sans-serif;
	padding: 20px 100px 0 100px;
	width: 100%;
	/*background: none;*/
	position: absolute;
	z-index: 1;
}

.nav-item a {
	font-weight: 600;
	color: white !important;
	opacity: 0.5;
	font-size: 20px;
	margin-right: 35px
}

.nav-item a:hover {
	color: white !important;
	opacity: 1 !important;
}
/*
.fa.fa-navicon {
  color:white;
}*/


/*
todo
кастомная иконка меню + аним
*/
/*----------------------------------------------------------------- nav end*/



/*----------------------------------------------------------------- first screen start*/

#first_screen {
	/*position: relative;*/
	text-align: center;
	color: white;
	background-image: url("img/red.jpg");
	height: 100vh;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#f_screen_logo {
	padding: 90px 10px 0 90px;
	position: absolute;
	width: 650px;
	max-width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
}

#first_screen .shape1 {
	position: absolute;
	max-width: 100%;
	left: 0;
	padding: 10px 100px 0 100px;
	top: 100px;
}

#first_screen .shape2 {
	position: absolute;
	right: 0;
	max-width: 100%;
	padding: 20px 100px 0 100px;
	bottom: 50px
}

.scroll-down {
    height: 45px;
    width: 30px;
    border: 3px solid white;
    position: absolute;
    left: 49%;
    bottom: 15px;
    border-radius: 50px;
    cursor: pointer;
}

.scroll-down::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 8px;
    width: 3px;
    transform: translate(-50%, -100%) rotate(180deg);
    background-color: white;
    border-radius: 20px;
    animation: scroll-down 3s ease-in-out infinite;
    animation-direction: alternate-reverse;
}

.scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
    /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: 90%;
        opacity: 1;
    }
}

/*дерганая анимация мышки*/
/*----------------------------------------------------------------- first screen end*/


/*----------------------------------------------------------------- slider події*/

.date, .comments {
	font-family: 'Montserrat';
	font-weight: bold;
	padding-right: 20px
}
.slider i {
	color: red;
	padding-right: 5px
}

.ivents-carousel .item img {
	object-fit: cover;
    width: 100%;
	height: 300px !important;
}

.ivents-carousel .item .inst_img {
	/*width: 300px;*/
	height: 300px !important;
}

.ivents-carousel .item a {
	color: red;
}
.ivents-carousel .item a:hover {
	color: red;
	opacity: 0.5
}

.ivents-carousel .item {
	padding: 0 10px 0 10px;
}

.carousel-control-next img {
	position: absolute;
	height: 30px;
	right: -45px;
}



.carousel-control-prev img {
	position: absolute;
	height: 30px;
	left: -45px;
}

/*----------------------------------------------------------------- slider події end*/



#partners {
	
    overflow: hidden;
    display: flex;
    /*width: calc(250px * 14);*/
}

#partners img {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
}

#partners_slider {
    animation: scroll 40s linear infinite;
    display: flex;
}


/*----------------------------------------------------------------- team carousel */
/*.team-carousel img {
	height: 80%;
}
.team-carousel .center img {
	height: 120%;
}*/
.team-part .name {
    font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.team-part .position {

    font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-align: center;
}
.team-part .about {
	text-align: center;

}
.team-part {
	margin: 0 20px 0 20px;
}
.team-part .social img {
	display: inline !important;
	width: 30px !important;
	height: 30px !important;
}

.team-carousel .owl-stage .photo {
	width: 80%;
	padding-top: 60px;
	padding-left: 20%;
}
.team-carousel .owl-stage {
	font-size: 14px
}
.team-carousel .owl-stage .center .photo {
	/*transition: transform 2s;*/
	transform: scale(1.3);

	padding-top: 36px;
	padding-bottom: 35px;
	/*padding-left: 0 !important;*/
	/*width: 100%;*/
}
.team-carousel .owl-stage .center {
	font-size: 16px
}


/*----------------------------------------------------------------- team carousel end */
/*----------------------------------------------------------------- global css */
html { overflow-x: hidden; }

h2 {
	text-align: center;
	font-size: 35px;
	font-weight: bold;
}
section {
	padding: 70px 0 70px 0;
}
section h2 {
	padding-bottom: 20px;
}
/*----------------------------------------------------------------- end global css */





@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}




#reviews img {
	display: inline;
	height: 45px;
	width: 45px;
}
#reviews .author {
	display: inline;
}

#reviews .item {
	margin: 70px;
	padding: 30px;
 	border-radius: 10px;
	z-index: 1000;
 	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
}

#reviews .owl-stage .owl-item{
	opacity: 0.5;
	/*font-size: 15px*/
}
#reviews .owl-stage .center {
	opacity: 1 !important;
	/*font-size: 18px*/
	transform: scale(1.1);

}

.reviews-carousel {
	/*: 50px 50px 50px 50px;*/
	/*padding-right: 20px;*/
	/*position: absolute;*/
	left: -25%;
	overflow: hidden !important;
	width: 150% !important;
}

#reviews {
	background-image: url('img/123.png');
	background-repeat: no-repeat;
	background-position: 20px 50px;
	background-size: 200px;
	margin-top: 50px;
	overflow: hidden !important;
}

#reviews .owl-dots .owl-dot.active span,
#reviews .owl-dots .owl-dot:hover span {
	background: red !important;
}
#contacts .info {
	padding: 20px;
	background-image: url('img/cart-1.png');
	background-size: cover;
}


#contacts .block {
	padding: 40px 0 40px;
}

#contacts span {
	font-weight: lighter;
}

footer {
	background-color: #FF0B2E;
    font-family: 'Montserrat', sans-serif;

	padding: 30px 90px 20px 90px;
	font-weight: bold;
	/*height: 150px;*/
}

a:hover {
	text-decoration: none;
	color: white;
}
footer .underline a {
	color: white;
	border-bottom: 2px solid white;
}



.calendar span {
	font-weight: lighter;
	position: absolute;
	right: 100px;
	top: 35px
}
.calendar img {
	position: absolute;
}

/*----------------------------------------------------------------- media */

@media screen and (max-width: 991px) {
	.navbar {
		background-color: rgba(192, 47, 54, 0.95);
		padding: 10px 20px 10px 20px;
	}
	.nav-link {
		float: right;
	}
	#f_screen_logo {
		padding: 0 40px 0 40px;
	}

	.calendar span {
		position: relative;
		float: right;
		right: 40px
	}
	.calendar img {
		position: relative;
		float: right;
		margin-bottom: 30px;
		margin-top: 20px;
		/*margin-right: 35px*/
	}
	.shape1, .shape2 {
		display: none;
		/*min-width: 150%;*/
		/*position: relative;*/
		/*overflow: hidden !important;*/
		/*padding: 20px 10px 40px 10px !important;/* 10px 20px 10px !important;*/*/


	}
}
@media screen and (max-width: 800px) {
	.reviews-carousel {
		width: 100% !important;
		left: 0%;
	}
	.reviews-carousel .item {
		margin: 40px 65px 55px 65px !important;
	}
	#reviews {
		background-size: 150px;
	}
}
@media screen and (max-width: 1129px) {
	.underline {
		display: none
	}
}
@media screen and (max-width: 574px) {
	#reviews .item {
		margin: 35px !important;
 		box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22) !important;
	}
}


/*----------------------------------------------------------------- end media */
