<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iHub відкритий коворкінг, IT івенти Хмельницький</title>
    <link rel="shortcut icon" href="/static/faviction.ico">


    <script src="https://kit.fontawesome.com/b485297a0d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/index.css">

    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
</head>
<body>
    <div class="container cont-can">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top container">
            <a class="navbar-brand" href="#"><img src="static/img/ihub 2.png" height="60"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <!-- <i class="fa fa-navicon"></i> -->
                </span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto"><!-- 
                    <li class="nav-item active">
                        <a class="nav-link mt-3" href="#">Головна</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link mt-3 js-scroll-trigger" href="#events">Події</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mt-3 js-scroll-trigger" href="#team">Команда</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mt-3 js-scroll-trigger" href="#reviews">Відгуки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mt-3 js-scroll-trigger" href="#contacts">Контакти</a>
                    </li><!-- 
                    <li class="nav-item">
                        <a class="nav-link mt-3 js-scroll-trigger" href="#">3D тур</a>
                    </li> -->
                    <li class="nav-item">
                        <a href="/calendar" class="calendar">
                            <span></span>
                            <img src="static/img/calendar.png" height="50">
                        </a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>

    <section id="first_screen">
        <div class="container">
            <img class="shape1" src="static/img/Shape2.png">
            <img id="f_screen_logo" src="static/img/ihub 2.png">
            <img class="shape2" src="static/img/Shape1.png">
            <a href="#events" class="js-scroll-trigger"><div class="scroll-down"></div></a>
        </div>
    </section>


    <section id="beta">
        <div class="row">
            <div class="col-sm-4 text-sm-right mt-2">
                <span class="beta">
                    BETA
                </span>
            </div>
            <div class="col-sm-6 mt-2">
                <span>
                    Сайт на стадії розробки, тому деякі елементи можуть працювати не коректно. Будемо вдячні за фідбек
                </span>
            </div>
        </div>
    </section>

    <section class="container" id="events">
        <h2 class="">Події</h2>

        <div class="owl-carousel ivents-carousel slider">
            {% for item in ivents %}
                <div class="item">
                    <a href="{{ item.post_link }}" target="_blank" rel="noopener noreferrer">
                        <div class="inst_img">
                            <img class="rounded" src="{{ item.img_link }}">
                        </div>
                    </a>
                    <div class="pt-2">
                        <!-- <span class="date"><i class="frameborder fa-calendar-alt"></i>1 грудня 2020</span> -->
                        <span class="comments"><i class="fas fa-heart"></i>{{ item.likes_count }}</span>
                        <span class="comments"><i class="far fa-comment-dots"></i>{{ item.cooments_count }}</span><br>
                    </div>
                    <span class="text"><b>{{ item.description[:70] }} ...</b></span><br>
                    <div class="pt-3">
                        <a href="{{ item.post_link }}" target="_blank" rel="noopener noreferrer">Детальніше...</a>
                    </div>
            </div>
            {% endfor %}
        </div>

        <div class="row pt-4">
            <div class="col text-center">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdt8J9XniLxsJad03et_n3Ad4vxVxINl4P6UGokKa4licahng/viewform">
                    <button type="button" class="btn btn-lg btn-danger text-center">ЗАБРОНЮВАТИ</button>
                </a>
            </div>
        </div>  
    </section>

    <section class="container" id="partners">
        <div id="partners_slider">
            <img src="static/img/Слой 2.png" height="90">
            <img src="static/img/stfalcon.png" height="90">
            <img src="static/img/Presto.png" height="90">
            <img src="static/img/Слой 4.png" height="90">
            <img src="static/img/Слой 5.png" height="90">
            <img src="static/img/Слой 8.png" height="90">
            <img src="static/img/logo-rect-white-160.png" height="50">
            <img src="static/img/Слой 3.png" height="90">
            <img src="static/img/Слой 9.png" height="90">
            <img src="static/img/Слой 7.png" height="90">
            <img src="static/img/Слой 6.png" height="90">
            <img src="static/img/Слой 2.png" height="90">
            <img src="static/img/logo-rect-white-160.png" height="50">
            <img src="static/img/stfalcon.png" height="90">
            <img src="static/img/Presto.png" height="90">
            <img src="static/img/Слой 4.png" height="90">
            <img src="static/img/Слой 5.png" height="90">
            <img src="static/img/Слой 8.png" height="90">
            <img src="static/img/Слой 3.png" height="90">
            <img src="static/img/Слой 9.png" height="90">
            <img src="static/img/Слой 7.png" height="90">
            <img src="static/img/Слой 6.png" height="90">
        </div>
    </section>

    <section class="container" id="team">
        <h2>Команда IHUB</h2>
        <div class="owl-carousel team-carousel">
            <div class="item">
                <div class="team-part">
                    <img class="photo img-fluid" src="static/img/photo 2.png">
                    <div class="name">Олександр Мачек</div>
                    <div class="position">Software Engineer</div>
                    <div class="about pt-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore facilisis.
                    </div>
                    <div class="social text-center pt-4">
                        <a href=""><img src="static/img/Facebook 1.png"></a>
                        <a href=""><img src="static/img/Instagram 2.png"></a>
                        <a href=""><img src="static/img/Twitter 2.png"></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="team-part">
                    <img class="photo " src="static/img/photo 1.png">
                    <div class="name">Олександр Мачек</div>
                    <div class="position">Software Engineer</div>
                    <div class="about pt-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore facilisis.
                    </div>
                    <div class="social text-center pt-4">
                        <a href=""><img src="static/img/Facebook 1.png"></a>
                        <a href=""><img src="static/img/Instagram 2.png"></a>
                        <a href=""><img src="static/img/Twitter 2.png"></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="team-part">
                    <img class="photo " src="static/img/photo 2.png">
                    <div class="name">Олександр Мачек</div>
                    <div class="position">Software Engineer</div>
                    <div class="about pt-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore facilisis.
                    </div>
                    <div class="social text-center pt-4">
                        <a href=""><img src="static/img/Facebook 1.png"></a>
                        <a href=""><img src="static/img/Instagram 2.png"></a>
                        <a href=""><img src="static/img/Twitter 2.png"></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="team-part">
                    <img class="photo " src="static/img/photo 3.png">
                    <div class="name">Олександр Мачек</div>
                    <div class="position">Software Engineer</div>
                    <div class="about pt-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore facilisis.
                    </div>
                    <div class="social text-center pt-4">
                        <a href=""><img src="static/img/Facebook 1.png"></a>
                        <a href=""><img src="static/img/Instagram 2.png"></a>
                        <a href=""><img src="static/img/Twitter 2.png"></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="team-part">
                    <img class="photo " src="static/img/photo 2.png">
                    <div class="name">Олександр Мачек</div>
                    <div class="position">Software Engineer</div>
                    <div class="about pt-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore facilisis.
                    </div>
                    <div class="social text-center pt-4">
                        <a href=""><img src="static/img/Facebook 1.png"></a>
                        <a href=""><img src="static/img/Instagram 2.png"></a>
                        <a href=""><img src="static/img/Twitter 2.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid" id="reviews">
        <div class="row">
            <div class="col pb-3 text-center">
                <button type="button" class="btn btn-lg btn-danger text-center">ВІДГУКИ</button>
            </div>
        </div>  
        <h2>Відгуки наших користувачів</h2>
        <div class="reviews-carousel owl-carousel owl-theme">
            <div class="item">
                <span class="sub-title"><b>Що Юлія каже про IHUB</b></span>
                <br><br>
                <span>
                    У мене була неймовірна можливість неодноразово побувати на цих заходах. 
                    Можу сміло сказати, що це одне з найкращого, що траплялось зі мною за останній 
                    час навчання. Я отримала нові знання в досить легкій формі, познайомилась 
                    з розумними людьми та провела час з користю
                </span>
                <br><br>

                <div class="pb-2 pt-2">
                    <img src="static/img/tg_image_2537489710.jpeg" class="mr-4">
                    <h3 class="author">Ільчишина Юлія</h3>
                    <!-- <br> -->
                    <span class="text-secondary">Computer Engineering, 1st year Student</span>
                </div>
            </div>
            <div class="item">
                <span class="sub-title"><b>Що Валерія каже про IHUB</b></span>
                <br><br>
                <span>
                    Чудове місце для проведення воркшопів. Організація завжди на високому рівні. Зустрічі проходять вдало та у дружній атмосфері. Хочеться повертатись знову і знову, обговорювати нові ідеї та працювати над проектами разом зі всім колективом
                </span>
                <br><br>

                <div class="pb-2 pt-2">
                    <img src="static/img/tg_image_619961341.jpeg" class="mr-4">
                    <h3 class="author">Швайко Валерія</h3>
                    <!-- <br> -->
                    <span class="text-secondary">Computer Engineering, 1st year Student</span>
                </div>
            </div>
            <div class="item">
                <span class="sub-title"><b>Що Богдан каже про IHUB</b></span>
                <br><br>
                <span>
                    Особисто для мене, iHUB - це місце креативних, продуктивних та веселих людей. Кожного разу, коли я відвідував iHUB, я був переповнений крутими емоціями тавраженнями, а навички які там набував - це те, заради чого я готовий приходити знову і знову. Будь-який захід в iHUB - це чудово проведений час в компанії друзів, а також знайомство із новими людьми, однодумцями.
                </span>
                <br><br>

                <div class="pb-2 pt-2">
                    <img src="static/img/tg_image_235696650.jpeg" class="mr-4">
                    <h3 class="author">Томчишен Богдан</h3>
                    <!-- <br> -->
                    <span class="text-secondary">Computer Engineering, 1st year Student</span>
                </div>
            </div>
            <div class="item">
                    <span class="sub-title"><b>Що Олександр каже про IHUB</b></span>
                    <br><br>
                    <span>
                        Якщо ви шукаєте місце для навчання, розвитку в чудовій компанії людей, які завжди допоможуть, iHUB- ідеальний простір для цього
                    </span>
                    <br><br>

                    <div class="pb-2 pt-2">
                        <img src="static/img/tg_image_1061519691.jpeg" class="mr-4">
                        <h3 class="author">Забавський Олександр</h3>
                        <!-- <br> -->
                        <span class="text-secondary">Computer Engineering, 2d year Student</span>
                    </div>
            </div>
            <div class="item">
                <span class="sub-title"><b>Що Олександр каже про IHUB</b></span>
                <br><br>
                <span>
                    Улюбленне місце для незабутніх емоцій разом з друзями. А також прекрасне місце для того щоб залишитись з думками наодинці. Це місце у якому завжди тобі раді, а також раді допомогти та підтримати. Комфорт не покидає тебе ні на хвилину, а через його розміщення все на дистанції витянутої руки.
                </span>
                <br><br>

                <div class="pb-2 pt-2">
                    <img src="static/img/tg_image_2241721090.jpeg" class="mr-4">
                    <h3 class="author">Марчук Олександр</h3>
                    <!-- <br> -->
                    <span class="text-secondary">Computer Engineering, 2d year Student</span>
                </div>
            </div>
        </div>
    </section>

    <section class="container" id="contacts">
        <h2>Контакти</h2>
        <div class="row pt-4">
            <div class="col-md-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d385.699840736093!2d26.982780365298353!3d49.43407324696185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4732077fc304a1cb%3A0xfd0f3eee6444fd31!2siHUB%20Khm!5e0!3m2!1sru!2sua!4v1608129142361!5m2!1sru!2sua" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col-md-7 info">
                <img src="static/img/ihub 1.png" class="mx-auto d-block" height="50">
                <div class="row text-center text-light">
                    <div class="col">
                        <div class="block">
                            <b>Наша адреса</b><br>
                            <span>ТЦ Монблан</span>
                            <br>
                            <span>Хмельницький</span>
                        </div>
                        <div class="block">
                            <b>Соціальні мережі</b>
                            <br>
                            <span>Instagram</span>
                            <br>
                            <span>Facebook</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="block">
                            <b>Час роботи</b>
                            <br>
                            <span>Вт-Пт 10:00-18:00</span>
                            <br>
                            <span>Нд-Пн Вихідний</span>
                        </div>
                        <div class="block">
                            <b>Зв'язок</b></span>
                            <br>
                            <span>Тел. +38 063 587 99 66</span>
                        </div>
                    </div>
                </div>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdt8J9XniLxsJad03et_n3Ad4vxVxINl4P6UGokKa4licahng/viewform">
                    <button type="button" class="btn btn-lg btn-light mx-auto d-block text-danger">
                        ЗАБРОНЮВАТИ
                    </button>
                </a>
            </div>
        </div>
    </section>

    <footer class="text-light">
        <div class="row text-center">
            <div class="col-sm pt-4">
                <img src="static/img/ihub 1.png" height="60">
            </div>
            <!-- <div class="col-sm mt-5 underline">
                <a href="#events" class="js-scroll-trigger">Події</a>
            </div>
            <div class="col-sm mt-5 underline">
                <a href="#team" class="js-scroll-trigger">Команда</a>
            </div>
            <div class="col-sm mt-5 underline">
                <a href="#reviews" class="js-scroll-trigger">Відгуки</a>
            </div>
            <div class="col-sm mt-5 underline">
                <a href="#contacts" class="js-scroll-trigger">Контакти</a>
            </div> -->
            <div class="col-sm mt-5 social d-inline">
                <a href="https://www.facebook.com/vadym.babiy">
                    <img src="static/img/Facebook.png" height="30" class="pr-2">
                </a>
                <a href="https://www.instagram.com/vadym_babiy_ileyes/">
                    <img src="static/img/Instagram.png" height="30" class="pr-2">
                </a>
                <a href="https://t.me/ihub_khm">
                    <img src="static/img/telegram.png" height="30">
                </a>
            </div>
        </div>
        <div class="text-center pt-3">2020</div>
    </footer>
    
    


    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/jquery.easing.min.js"></script>

    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/script.js"></script>
    <script src="static/index.js"></script>

</body>
</html>